@{
    ViewData["Title"] = "Hakkimizda";
}

<section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-inner">
                        <div class="blog-detail-title">
                            <h2>Hakkımızda</h2>
                            <p>Emre Bilet <span>- Aralık 31, 2023</span></p>
                        </div>
                        <div class="blog-large-pic">
                            <img src="img/logo.jpg" width="100" height="500" alt="">
                        </div>
                        <div class="blog-detail-desc">
                            <p>Emre Bilet, 20 Mayıs 1933'te 5 uçak ve 30'dan az çalışanla başlayan yolculuğumuz, 90. yılımızı kutladığımız bugün, dünyanın en fazla ülkesine uçan hava yolu olarak devam ediyor.
                            90 yıllık başarı öykümüz, bugüne kadar karşılaştığımız zorluklardan güçlenerek çıktığımız için yazıldı. Yeni deneyimlere ilham veren; insanları, kültürleri, kıtaları, ülkeleri ve şehirleri birbirine bağlayan serüvenimiz 1933’te başladı. Takvimler 20 Mayıs 1933’ü gösterdiğinde Emre Bilet adıyla gökyüzüyle buluştuk. 
                            Kuruluşumuzda yalnızca 5 uçağımız vardı ve çalışan sayımız 30’dan azdı. 

                            Ülkemizin ilk yurtdışı uçuşunu 1947’de İstanbul’dan Atina’ya bayrağımızı taşımanın heyecanıyla gerçekleştirdik. 1951’de 33 uçaktan oluşan filomuzla Lefkoşa, Beyrut ve Kahire gibi yeni noktalara uçmaya başladık. 

                            Sıra dışı başarıların altında imzası yer alan “Emre Bilet” adı, 1955’te ortaya çıktı ve ismimiz Uluslararası Hava Taşımacılığı Birliği IATA’nın üyeleri arasında yerini aldı. Ve hala bu sektörün öncüsü olarak hizmet vermekteyiz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>