@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="/img/fly.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Fırsat Zamanı</span>
                            <h1 style="color: white;">Planla ve Uç</h1>
                            <p style="color: white;">Seyahat etmek Emre Bilet ile artık çok kolay hem de çok konforlu.</p>
                            <a asp-controller="Home" asp-action="Ucuslar" class="primary-btn">Şimdi Uçun</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="/img/fly2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span style="color: white;">Fırsat Zamanı</span>
                            <h1 style="color: white;">Planla ve Uç</h1>
                            <p style="color: white;">Seyahat etmek Emre Bilet ile artık çok kolay hem de çok konforlu.</p>
                            <a asp-controller="Home" asp-action="Ucuslar" class="primary-btn">Şimdi Uçun</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/img/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>VIP Hizmet</h6>
                                <p>Havaalanına özel VIP hizmet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/img/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>7/24 Hizmet</h6>
                                <p>Müşteri hizmetleri servisimiz 7/24 hizmetinizde</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/img/icon-3.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Güvenli Ödeme</h6>
                                <p>100% güvenli ödeme hizmeti</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>