@{
    ViewData["Title"] = "Ucuslar";
}
<div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Ana Sayfa</a>
                        <span>Uçuşlar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product-shop spad">
        <div class="container">
                <div class="col-lg-9 order-1 order-lg-2">
                   
                    <div class="product-list">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/cart-page/istanbul.jpg" height="200px alt="">
                                
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">İstanbul</div>
                                        <a href="#">
                                            <h5>Ankara -> İstanbul</h5>
                                        </a>
                                        <div class="product-price">
                                            500 TL
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/cart-page/ankara.jpg" height="200px" alt="">
                            
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Ankara</div>
                                        <a href="#">
                                            <h5>İstanbul -> Ankara</h5>
                                        </a>
                                        <div class="product-price">
                                            500 TL
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="img/cart-page/antalya.jpg" height="200px alt="">
                                        
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Antalya</div>
                                        <a href="#">
                                            <h5>İstanbul -> Antalya</h5>
                                        </a>
                                        <div class="product-price">
                                            1000 TL
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>